/* main.css */
html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #333;
    padding: 10px;

}
*{
    padding: 0px;
    margin: 0px;
}

div{
    margin: 10px 0;
}

.imgs{
    width: 200px;
    height: 200px;
    background: url(images/1.906f5c67.jpg);
}body {
  background: #999;
  padding: 10px; }
