/* main.css */
html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #333;
    padding: 5px;

}
*{
    padding: 0px;
    margin: 0px;
}

div{
    margin: 10px 0;
}

.imgs{
    width: 200px;
    height: 200px;
    background: url(./images/1.jpg);
}